In [5]:
import sys
import os
import pandas as pd
from glob import glob
from minio import Minio
import time

utils_path = "/Users/benminh1201/Downloads/nyc_new/utils"
sys.path.append(utils_path)
from helpers import load_cfg
from minio_utils import MinIOClient

In [7]:
import s3fs

s3_fs = s3fs.S3FileSystem(
    anon=False,
    key='benminh1201',
    secret='benminh1201',
    client_kwargs={'endpoint_url': "".join(["http://", "localhost:9000"])}
)

In [ ]:
path = glob("/Users/benminh1201/Downloads/nyc_new/data/*.parquet")

['/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-05.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-04.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-06.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-07.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-12.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-02.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-03.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-11.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-01.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-08.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-09.parquet',
 '/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-10.parquet']

In [11]:
df = pd.read_parquet("/Users/benminh1201/Downloads/nyc_new/data/output_yellow_tripdata2019-01.parquet", engine="pyarrow")

In [12]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1.0,1.5,1.0,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,None
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1.0,2.6,1.0,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,None
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3.0,0.0,1.0,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,None
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5.0,0.0,1.0,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,None
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5.0,0.0,2.0,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,None

In [13]:
df = pd.read_csv("/Users/benminh1201/Downloads/nyc_new/data/taxi_zone_lookup.csv")

In [14]:
df.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone